<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
  <angular-adv-header></angular-adv-header>
  <angular-adv-sidebar></angular-adv-sidebar>
  <div class="page-wrapper">
    <div class="container-fluid">
      <angular-adv-breadcrumbs></angular-adv-breadcrumbs>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
